body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(gdc3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.loginform {
    width: 500px;
    height: 400px;
    background: #000000;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: .9;
}

.login {
    color: burlywood;
}